* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 1000px;
    height: 600px;
}

.caixa {
    box-sizing: border-box;
  }
  
.titulo {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.verde {
    background-color: rgb(8, 97, 8);
    width: 33.333%;
    /* height: 100%; */
    float: right;
}

.branco {
    float: left;
    width: 33.333%;
    height: 100%;
}

.vermelho {
    background-color: red;
    width: 33.333%;
    height: 100%;
    float: left;
}


footer {
    text-align: center;
    color: rgb(236, 225, 236);
    text-align: center;
    background-color: rgb(56, 2, 2);
    width: 100%;
    height: auto;
    padding: 05px;
    position: fixed;
    bottom: 0;
    left: 0;
}